html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  color: #2F3035;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'SFProDisplay-Regular', sans-serif;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 122px;
  font-family: 'SFProDisplay-Bold', sans-serif;
  font-weight: 700;
}

.menu__item {
  display: inline-block;
}

.menu__item + .menu__item {
  padding-left: 50px;
}

.header__box {
  display: flex;

}

.header__adress {
  margin-right: 60px;
  width: 265px;
  padding-left: 30px;
  position: relative;
}

.header__adress::before {
  content: "";
  position: absolute;
  background-image: url(../images/map.svg);
  height: 30px;
  width: 30px;
  left: 0;
  top: -10px;
}

.user-list {
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.user-list__item {
  display: inline-block;
  padding-right: 10px;
}

.basket {
  position: relative;
}

.basket__num {
  height: 20px;
  width: 20px;
  font-family: 'SFProDisplay-Medium', sans-serif;
  font-weight: 500;
  color: #ffffff;
  position: absolute;
  font-size: 10px;
  line-height: 20px;
  background-color: #1c62cd;
  border-radius: 50%;
  text-align: center;
  bottom: -15px;
  right: -14px;
}

.header__bottom {
  margin-bottom: 78px;
  
}

.menu-categories {
  background-color: #f0f0f4;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 53px;
  position: relative;
}

.menu-categories__link {
  transition: all .3s;
  font-weight: 400;
  padding: 15px 0;
  position: relative;
}

.menu-categories__link::before {
  content: "";
  position: absolute ;
  width: 0;
  left: auto;
  background-color: #1c62cd;
  height: 3px;
  background-origin: padding-box;
  bottom: -2px;
  transition: all .3s;
  right: 0;
}

.menu-categories__link:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}

.menu-categories__link:hover {
  color: #000000;
}

.banner-section__inner {
  display: flex;
  justify-content: space-between;
}

.banner-section__slider{
  max-width: 870px;
}

.banner-section__slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  margin: 0;
  z-index: 5;
  cursor: pointer;
  outline: none;
}

.banner-section__slider-btnprev {
  left: 20px;
}

.banner-section__slider-btnnext {
  right: 20px;
}

.slick-dots {
  position: absolute;
  bottom: 40px;
  text-align: center;
  left: 0;
  right: 0;
}

.slick-dots button {
  padding: 0;
  font-size: 0;
  margin: 0;
  height: 11px;
  width: 11px;
  border: 1px solid #fff;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.slick-dots li {
  display: inline-block;
  padding: 0 5px;
}

.slick-active button {
  background-color: #ffffff;
}
.sale-item {
  max-width: 265px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} 
 
.sale__item-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sale-item__info {
  color: #ffffff;
  background-color: #1c62d1;
  padding: 8px 20px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.price {
  font-family: 'Barlow', sans-serif;
  position: relative;
}

.sale-item__price {
  text-align: right;
}

.sale-item__price-new {
  font-weight: 700;
  font-size: 27px;
  line-height: 32px;
  color: #1c62cd;
  margin-right: 6px;
  padding-right: 20px;
  position: relative;
}
.sale-item__price-new::after {
  content: "";
  position: absolute;
  background-image: url('../images/icons-price.svg');
  right: 0;
  top: 8px;
  width: 15px;
  height: 18px;
}

.sale-item__price-old {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
  margin-right: 15px;
  background-image: url('../images/old-line.svg ');
  padding: 2px 5px;
  background-repeat: no-repeat;
  display: inline-block;
}

.sale-item__price-old::after {
  content: "";
  position: absolute;
  background-image: url('../images/icons-price-old.svg');
  right: -10px;
  top: 8px;
  width: 8px;
  height: 10px;
}

.sale-item__footer {
  background-color: #f0f0f0;
  padding: 25px 20px;
  font-size: 18px;
  line-height: 21px;
}

.sale-item__footer span {
  color: #1c62cd;
  display: block;
  font-weight: 700;
  font-family: 'Barlow', sans-serif;
}

.sale-item__title {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  font-family: 'SFProDisplay-Bold', sans-serif;
  margin-bottom: 7px;
}

.sale-item__img {
  object-fit: contain;
}

banner-section__slider-img {
  object-fit: cover;
  min-height: 400px;
}